name: Update Terraform Docs
on:
  push:
    branches:
      - "renovate/**"
permissions:
  contents: read
jobs:
  terraform-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Run terraform-docs
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # ratchet:terraform-docs/gh-actions@v1
        with:
          output-method: inject
          git-push: "true"
          recursive: true
          git-commit-message: "docs: update terraform docs following renovate patch"
