name: Lint & Plan
on:
  workflow_dispatch:
  push:
    branches:
      - "**"
      - "!main"
permissions:
  contents: read
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run pre-commit
        uses: batinicaz/gha/.github/actions/pre-commit@12cd71cfcad257813483b7d5fcaf26191e3b86f9 # ratchet:batinicaz/gha/.github/actions/pre-commit@v1.2.5
  terraform:
    uses: batinicaz/gha/.github/workflows/terraform-plan.yml@v1.2.6
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      working_directory: "."
      infisical_project_env: terraform-oci-core
    secrets:
      INFISICAL_IDENTITY_ID: ${{ vars.INFISICAL_IDENTITY_ID }}
