name: Lint & Plan
on:
  workflow_dispatch:
  push:
    branches:
      - "**"
      - "!main"
permissions:
  contents: read
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run pre-commit
        uses: batinicaz/gha/.github/actions/pre-commit@fac8c3537b3887620a2734a01c45616bdde36396 # ratchet:batinicaz/gha/.github/actions/pre-commit@v1.2.10
  terraform:
    uses: batinicaz/gha/.github/workflows/terraform-plan.yml@fac8c3537b3887620a2734a01c45616bdde36396 # ratchet:batinicaz/gha/.github/workflows/terraform-plan.yml@v1.2.10
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      working_directory: "."
      infisical_project_env: terraform-oci-core
    secrets:
      INFISICAL_IDENTITY_ID: ${{ vars.INFISICAL_IDENTITY_ID }}
