name: Create Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  release:
    uses: batinicaz/gha/.github/workflows/release.yml@12cd71cfcad257813483b7d5fcaf26191e3b86f9 # ratchet:batinicaz/gha/.github/workflows/release.yml@v1.2.5
    secrets:
      APP_ID: ${{ secrets.APP_ID }}
      APP_INSTALL_ID: ${{ secrets.APP_INSTALL_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
