name: Deploy Tags
run-name: "Deploy ${{ github.ref }}"
on:
  push:
    tags:
      - "v**"
permissions:
  contents: read
jobs:
  deploy:
    name: Deploy to OCI
    runs-on: ubuntu-latest
    env:
      TF_API_TOKEN: "${{ secrets.TERRAFORM_CLOUD_TOKEN }}"
      TF_CLOUD_ORGANIZATION: "${{ github.repository_owner }}"
      TF_WORKSPACE: ${{ github.event.repository.name }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@3d81652e472e0d08f6bc4f90335a4e0840a456df # ratchet:hashicorp/tfc-workflows-github/actions/upload-configuration@v1.3.2
        id: apply-upload
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          directory: ./
      - name: Create Apply Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@3d81652e472e0d08f6bc4f90335a4e0840a456df # ratchet:hashicorp/tfc-workflows-github/actions/create-run@v1.3.2
        id: apply-run
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          configuration_version: ${{ steps.apply-upload.outputs.configuration_version_id }}
      - name: Apply
        uses: hashicorp/tfc-workflows-github/actions/apply-run@3d81652e472e0d08f6bc4f90335a4e0840a456df # ratchet:hashicorp/tfc-workflows-github/actions/apply-run@v1.3.2
        if: fromJSON(steps.apply-run.outputs.payload).data.attributes.actions.IsConfirmable
        id: apply
        with:
          run: ${{ steps.apply-run.outputs.run_id }}
          comment: "Apply Run from GitHub Actions CI ${{ github.sha }}"
