name: Deploy Tags
run-name: "Deploy ${{ github.ref }}"
on:
  push:
    tags:
      - "v**"
permissions:
  contents: read
jobs:
  deploy:
    uses: batinicaz/gha/.github/workflows/terraform-apply.yml@97eb7990131463fb3b4a4e66ad21b50daa64e266 # ratchet:batinicaz/gha/.github/workflows/terraform-apply.yml@v1.2.10
    permissions:
      contents: read
      id-token: write
    with:
      working_directory: "."
      infisical_project_env: terraform-oci-core
    secrets:
      INFISICAL_IDENTITY_ID: ${{ vars.INFISICAL_IDENTITY_ID }}
